<div class="row mx-lg-5">
	<div class="col-lg-8 offset-lg-2 chat-container px-5 py-1 bg-info">
		<div class="chat-room-header">
			<h3 class="text-white">LetsChat</h3>
		</div>
	</div>
	<div class="col-lg-8 offset-lg-2 chat-container pt-3 px-5 bg-white">
		<div class="chat-container-header">
			<h4>{{ recipint.name }} <small class="float-right" id="online-status">Online</small></h4>
		</div><hr class="mb-0">
		<div class="chat-container-body pt-1 px-3">
			<ul class="list-unstyled">
				<li class="sent">
					<strong class="username">You: 12:39am</strong><hr class="m-0">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
				</li>
				<li class="received">
					<strong class="username">You: 12:39am</strong><hr class="m-0">
					<span>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
				</li>
			</ul>
		</div>
		<div class="chat-footer pt-2 border-top">
			<form id="message-form">
				<input type="text" name="message" class="message-input">
				<input type="submit" name="submit" value="Send" class="btn btn-info">
			</form>
		</div>
	</div>
</div>
