<div class="row">
    <div class="col-md-3 offset-md-1">
        <div class="col-lg-12 py-1 chat-container px-3 bg-info">
            <div class="chat-room-header text-center">
                <h3 class="text-white">Online Users</h3>
            </div>
        </div>
        <div class="col-lg-12 my-0 chat-container pt-3 px-5 bg-white">
            <div class="online-users pt-1 px-3">
                <ul class="list-unstyled active-users">
                    {{#each users}}
                        <li class="text-capitalize text-primary">{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-lg-12 py-1 chat-container px-3 mt-3 bg-info">
            <div class="chat-room-header text-center">
                <h3 class="text-white">Notifications</h3>
            </div>
        </div>
        <div class="col-lg-12 my-0 chat-container pt-3 px-5 bg-white">
            <div class="online-users pt-1 px-3">
                <ul class="list-unstyled notifications"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-lg-12 py-1 chat-container px-5 bg-info">
            <div class="chat-room-header">
                <h3 class="text-white">LetsChat</h3>
            </div>
        </div>
        <div class="col-lg-12 my-0 chat-container pt-3 px-5 bg-white">
            <div class="chat-container-body pt-1 px-3">
                <ul class="list-unstyled messages-div">
                    {{#each messages}}
                        <li class="{{#sent_or_recieved ../username this.senter}}{{/sent_or_recieved}}">
                            <strong class="username">{{#get_sentername ../username this.senter}} {{/get_sentername}}: {{this.time}}</strong>
                            <hr class="m-0"><span>{{this.text}}</span>
                        </li><span class="{{#sent_or_recieved ../username this.senter}}{{/sent_or_recieved}}_angle"></span>
                    {{/each}}
                </ul>
            </div>
            <div class="chat-footer pt-2 border-top">
                <form id="message-form" onsubmit="return submitMessage()">
                    <input type="text" name="message" class="message-input">
                    <input type="submit" name="submit" value="Send" class="btn btn-info">
                </form>
            </div>
        </div>
    </div>
</div>
